<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>SignIn</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #cde3f7;
        }

        .container {
            max-width: 400px;
            margin: 0 auto;
            margin-top: 100px;
            padding: 20px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            background-color: #ffffff;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

    </style>
</head>

<body>
<div class="container">
        <!-- 챗봇 등록 성공 문구를 표시하는 부분 -->
        <div class="text-success mt-2">챗봇 등록에 성공하였습니다.</div>
        <div class="text-primary mt-2">챗봇으로 이동하셔서 서비스를 이용하세요!</div>
</div>
</body>

</html>